<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pastes.io - Redirect</title>
	

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<meta name="google-site-verification" content="HDn-a2PHL_07rBA9Bu5OOnzZwyJQPC9DLN4AQuI9NIA" />
	 <meta  name="simpledcver"  content="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkb21haW4iOiJ0ZXhwYXN0ZS5jb20iLCJleHAiOjE2NjczNDcyMDB9.BbkHMl-NAKZcBVVlTzHacfy73em3Yx7z33vn0b9-rgg">
<meta http-equiv="Refresh" content="0; url='https://pastes.io'" />
</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h1>Pastes.io - website!</h1>
		<p>You will redirect soon to <a href="https://pastes.io">Pastes.io</a></p>
		<a href="https://pastes.io" class="btn btn-primary btn-lg">Pastes.io</a>
	


	</div>
</div>
	
</body>
</html>
